    <footer>
        <hr>
        <p>
            <!-- there is no "Last Built" text here as it's generated client side -->
            <small id="footerText">(c) 2024 Trent Wiles | {{ uptime | raw }} |  <a href="https://github.com/trentwiles/trentwiles.com" target="_blank">trentwiles/trentwiles.com</a> {{ starCount }}☆ | Latest Commit: {{ commit }} | Last Built @ </small>
        </p>
        <p>
            <small>File Archive: <a href="https://archive.trentwiles.com">archive.trentwiles.com</a></small>
        </p>
    </footer>
    </div>

</body>

</html>