<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://avatars.githubusercontent.com/u/59586759?v=4">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">

    <meta charset="utf-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ pageTitle }}</title>
</head>
<header>
    <nav>
        <a href="/"><img alt="Logo" src="https://avatars.githubusercontent.com/u/59586759?v=4" height="70"></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/travel/">Travel</a></li>
            <li><a href="/updates/">Updates</a></li>

            <li><a href="/contact/">Contact</a></li>
        </ul>
    </nav>
    <h1>{{ pageTitle }}</h1>
    <p>{{ description }}</p>
</header>