<!-- MVP.css quickstart template: https://github.com/andybrewer/mvp/ -->

{% include 'header.liquid' %}
<body>
    {% # Fixes a styling issue when there is no content on homepage %}
    {% if page.fileSlug != "" %}
        <main>
            {{ content }}
        </main>
    {% endif %}
{% include 'footer.liquid' %}