<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://avatars.githubusercontent.com/u/59586759?v=4">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">

    <meta charset="utf-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ pageTitle }}</title>
</head>
<header>
    <nav>
        <a href="/"><img alt="Logo" src="https://avatars.githubusercontent.com/u/59586759?v=4" height="70"></a>
        <ul>
            <li>Menu Item 1</li>
            <li><a href="#section-1">Menu Item 2</a></li>
            <li><a href="#">Dropdown Menu Item</a>
                <ul>
                    <li><a href="#">Sublink with a long name</a></li>
                    <li><a href="#">Short sublink</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <h1>{{ pageTitle }}</h1>
    <p>{{ pageDescription }}</p>
</header>